#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 10px;
    width: 350px;
    min-height: 500px;
    border: 5px solid black;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkslategray;
}

#display {
    height: 80px;
    width: 330px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 36px;
    font-weight: bold;
    background-color: gainsboro;
}

.display-text {
    position: relative;
    text-align: end;
    top: 35px;
    right: 10px;
}

#buttons, #top-buttons, #main-buttons {
    display: flex;
    justify-content: center;
}

#buttons {
    flex-direction: column;
    gap: 5px;
}

#top-buttons {
    gap: 10px;
}

#main-buttons {
    flex-wrap: wrap;
    gap: 5px;
}

.top-button, .number-button, .operator-button, .sign-button, .decimal-button {
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

.top-button {
    width: 162.5px;
    height: 80px;
}

.main-button {
    width: 80px;
    height: 80px;
}

.number-button {
    background-color: lightskyblue;
}

.number-button:hover {
    background-color: cyan;
}

#clear {
    background-color: rgb(255, 0, 0);
}

#clear:hover {
    background-color: rgb(255, 65, 65);
}

#delete {
    background-color: rgb(231, 231, 0);
    
}

#delete:hover {
    background-color: yellow;
}

#sign, #decimal {
    color: white;
    background-color: darkblue;
}

#sign:hover, #decimal:hover {
    background-color: blue;
}

.operator-button {
    color: white;
    background-color: darkorange;
}

.operator-button:hover {
    background-color: orange;
}

#solve {
    background-color: rgb(0, 255, 0);
}

#solve:hover {
    background-color: lightgreen;
}
