#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 10px;
    width: 350px;
    min-height: 500px;
    border: 2px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#display {
    height: 80px;
    width: 330px;
    margin: 5px;
    border: 2px solid black;
    font-size: 36px;
    font-weight: bold;
}

.display-text {
    position: relative;
    text-align: end;
    top: 35px;
    right: 10px;
}

#buttons, #top-buttons, #main-buttons {
    display: flex;
    justify-content: center;
}

#buttons {
    flex-direction: column;
    gap: 5px;
}

#top-buttons {
    gap: 10px;
}

#main-buttons {
    flex-wrap: wrap;
    gap: 5px;
}

.top-button, .number-button, .operator-button, .sign-button, .decimal-button {
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid black;
}

.top-button {
    width: 162.5px;
    height: 80px;
}

.main-button {
    width: 80px;
    height: 80px;
}
